:root {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    --main-bg-color: #F7A11A;
    background-color: var(--main-bg-color);
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    width: 75%;
}

div.now-playing {
    display: flex;
    border-bottom: 5px black solid;
    border-right: 5px black solid;
    border-left:5px black solid;
    height: 7em;
    box-sizing: border-box;
    
}

.yellow-on-black {
    color: var(--main-bg-color);
    background-color: black;
    font-weight: 600;
    padding: 0em 1em 0em 1em;
    margin-top: 1em;
}

.now-playing-text {
    padding-left: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column; 
    /* align-self: center; */
    line-height: 1.2em;

}

.now-playing-title {
    font-weight: 600;
    font-size: 1.3em;
    padding-bottom: .4em;
}


.now-playing-artist {
    font-weight: 200;
    font-size: 1em;
}

.album-art {
    float:right;
    max-width: 50%;
    border-right: 1px black dotted;
}

.link-container {
    /* padding-top: .6em; */
    padding-bottom: .5em;
    text-align-last: justify;
    border-bottom: 2px black dotted;
    font-size: 120%;
    font-variant-caps: all-small-caps;
}

a {
    text-decoration-style: dotted;
    font-weight: 700
;}