:root {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    --main-bg-color: #F7A11A;
    background-color: var(--main-bg-color);
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    width: 66%;
}

div.now-playing {
    display: flex;
    border-bottom: 5px black solid;
    border-right: 5px black solid;
    border-left:5px black solid;
    height: 7em;
    box-sizing: border-box;

    
}

.yellow-on-black {
    color: var(--main-bg-color);
    background-color: black;
    font-weight: 600;
    padding: 0em 1em 0em 1em;
    margin-top: 1em;

}

.now-playing-title {
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1em;

}

.now-playing-text {
    padding-left: 1em;
    /* align-items: center; */
    display: flex;
    flex-direction: column; 
    align-self: center;

}

.now-playing-artist {
    font-weight: 200;
    font-size: 1em;
}

.album-art {
    float:right;
    max-width: 50%;
}

.link-container {
    padding-top: 1em;
    padding-bottom: .5em;
    text-align-last: justify;
    border-bottom: 2px black dotted;
    font-size: 120%;

}

.logo-container {
    /* padding: 20px;
    padding-right: 70px;
    float: left;
    width: 20%; */
    width: 55%;
}

a {
    text-decoration-style: dotted;
    font-weight: 700
;}