:root {
    max-width: 50ch;
    padding: 0 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    --main-bg-color: #F7A11A;
    background-color: var(--main-bg-color);
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* div.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* now playing section */

#now-playing-section {
    display: flex;
    border-bottom: 5px black solid;
    border-right: 5px black solid;
    border-left: 5px black solid;
    height: 7em;
    box-sizing: border-box;
    margin-bottom: .5em;
    
}

#yellow-on-black {
    color: var(--main-bg-color);
    background-color: black;
    font-weight: 600;
    letter-spacing: .15ch;
    padding: 0em .5em 0em .5em;

}

#now-playing-text {
    padding-left: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column; 
    line-height: 1em;

}

#dynamicTitle {
    font-weight: 600;
    font-size: 1.3em;
    padding-bottom: .4em;
}


#dynamicArtist {
    font-weight: 200;
    font-size: 1em;
}

#dynamicImg {
    border-right: 1px black dotted;
    height: 100%;
}

/* Recently Played section */

#recently-played-section {
    /* justify-content: space-evenly; */
    /* border: 5px solid black; */

}

.recently-played-node {
    padding-top: .5em;
    padding-bottom: .5em;
    display: flex;
    /* justify-content: space-evenly; */
    height: 5em;
    /* padding-top: .5em; */
    /* padding-bottom: .5em; */

    border-bottom: 2px black dotted;
    box-sizing: border-box;
}
#recently-played-text {
    
    padding-left: .5em;
    flex-grow: 2;
    line-height: 1em;

}
#recently-played-title {
    font-weight: 700;
}
#recently-played-artist {
    font-size: 80%;
}
#recently-played-time {
    line-height: 1em;
    font-size: 80%;
    align-self:flex-end;
    font-variant-caps: small-caps;
    letter-spacing: .15ch;
    flex-shrink: 0;
}
.recently-played-image {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
}



/* Header, links, etc */

.link-container {
    /* padding-bottom: .5em; */
    text-align-last: justify;
    font-weight: 900;
    font-size: 150%;
    font-variant-caps: small-caps;
}

a {
    text-decoration-style: dotted;
    font-weight: 700;
}

.audio-player {
    width: inherit;
    width: 100%;
    background-color: black;
    color: black;
    
}

#banner { 
    /* display:none; */
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: #5b0000; 
    padding: 1em;
  }
#banner-content, #banner-alert{ 
    color: white;
    font-weight: 500;
    text-align: left;
  }

#banner-content {
    width:80%;
    margin:auto;
}

#banner-callout {
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px white dotted;
    font-weight: 600;
}


audio::-webkit-media-controls-timeline{
   display: none;
}